@import 'variables';
@import 'header';
@import 'board';
@import 'settings-menu';
@import 'form';

%button-shared {
    box-sizing: border-box;
    font-family: $mainFont;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    color: $mainColor1;
    border: none;
    padding: 6px 15px 4px 15px;
    background-color: white;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    transition: transform 0.3s;
    cursor: pointer;
    &:hover {
        transform: translateY(-5px); 
    }
    &:active {
        transform: scale(0.95);
    }
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    position: relative;
    font-family: $mainFont;
    font-size: 14px;
    overflow: hidden;
}

.board__clock {
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    bottom: 70px;
    right: 0;
    padding: 0;
    width: 100px;
    text-align: start;
    font-family: "Rajdhani", sans-serif;
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: $mainColor1;
    z-index: 1000;
    cursor: default;
}

.hidden {
    display: none;
}